{{#if questionEditForm}}
  <form class="pure-form">
      <fieldset class="pure-group">
          {{input value=author class="pure-input-1-2" placeholder=question.author}}
          {{textarea value=content class="pure-input-1-2" placeholder=question.content}}
          {{input value=notes class="pure-input-1-2" placeholder=question.notes}}
      </fieldset>
      <button {{action 'edit_question' question}} type="submit" class="btn btn-primary">Update!</button>
      <button {{action 'cancel'}} type="submit" class="btn btn-danger">Cancel</button>
  </form>
{{else}}
  <button {{action 'showQuestionEditForm'}} class="btn btn-primary" type="button">Edit Question</button>
{{/if}}
