{{#if questionForm}}
  <form class="pure-form">
      <fieldset class="pure-group">
          {{input value=author class="pure-input-1-2" placeholder="Your Name"}}
          {{textarea value=content class="pure-input-1-2" placeholder="Question goes here..."}}
          {{input value=notes class="pure-input-1-2" placeholder="notes"}}
      </fieldset>
      <button {{action 'save_question'}} type="submit" class="btn btn-success">Ask!</button>
      <button {{action 'cancel'}} type="submit" class="btn btn-danger">Cancel</button>
  </form>
{{else}}
  <button {{action 'showQuestionForm'}} class="btn btn-success" type="button">Ask Question</button>
{{/if}}
