{{#if answerForm}}
  <form class="pure-form">
      <fieldset class="pure-group">
          {{input value=author class="pure-input-1-2" placeholder="Your Name"}}
          {{textarea value=content class="pure-input-1-2" placeholder="Answer this question..."}}
      </fieldset>
      <button {{action 'save_answer'}} type="submit" class="btn btn-success">Answer!</button>
      <button {{action 'cancel'}} type="submit" class="btn btn-danger">Cancel</button>
  </form>
{{else}}
  <button {{action 'showAnswerForm'}} class="btn btn-success" type="button">Answer Question</button>
{{/if}}
