<h1>{{model.question.author}} Asked:</h1>
<h3>{{model.question.content}}</h3>
<p>notes: {{model.question.notes}}</p>
{{edit-question question=model.question edit="edit"}}

{{#each model.question.answers as |answer|}}
    {{answer-tile answer=answer}}
{{/each}}

<br>
{{new-answer saveAnswer="saveAnswer" question=model.question}}
<br>
